* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
  }
  
  .grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
  }
  
/* cominezo del navegador */

  
  .header {
    grid-area: header;
    background-color: #0e2135;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 4;
  }
  .header__logo img{
    width: 90px;
    border-radius: 20px;
  }
  
.header__nav{
    list-style-type: none;
}

.header__nav li{
    padding: 10px;
    display: inline-block;
    margin: 30px;
}

.header__nav a{
    text-decoration: none;
    font-size: 100%;
    color: white;
    text-shadow: 0px 0px 5px black ;
}
/* fin del navegador */




/* contenido */
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productos-container{
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.productos-container:hover{
  box-shadow: 0 8px 16px 0 gray;
}

.img{
  width: 340px;   
}

/* fin del contenido */




/* --------------------------- empieza el footer --------------------------- */
.pie-pagina{
  width: 100%;
  background-color: #0a1a2a;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
  border-radius: 40px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}



/* --------------------------- termina el footer --------------------------- */

  .main {
    grid-area: main;
    background-color: #f5f5f5;
  }
  
  
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header"  100px
      "main"    auto
      "footer"  auto;

  }









  
